h1 {color: C6DDF0; font-family: cursive;
}
h2 {color: 996888; font-family: fantasy;
}
h3 {color: 5E4955; font-family: inherit;
}
h4 {color: 2A2B2A; font-family: monospace;
}
h5 {color: yellow; font-family: sans-serif;
}
h6 {color: orange; font-family: serif;
}
body {background-color: C99DA3;
}
